body {
    text-align: justify;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;

}


header {
    display: flex;
    min-height: 70px;
    background-color: transparent;
    background-size: 1800px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;

}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 20px;
    display: inline-block;
    margin-right: 5px;

}


h2 {
    color: rgb(0, 0, 0);
}



/*
#imagen-fondo{
    
    background-image: ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-image: ;
    background-size: cover;
    
}
*/





.logo {
    float: left;
    margin-right: 10px;
}

.logo img {
    width: 120px;
    height: 100px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(14, 14, 14);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
}

.breadcrumbs {
    color: #9f9ea0;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 15px;
}

.breadcrumbs .item {
    color: #9f9ea0;
    font-size: 12px;
}
header, footer {
    background-color: #2ecc71;
    color: #000000;
    padding: 10px;}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding: 10px;
  }
  
  header a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
  }
  
  footer {
    background-color: #78b7c1;
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilos del carrusel */
  .carousel-item img {
    object-fit: cover;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
  
  /* Estilos de la galería */
  .gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .image {
    position: relative;
    flex-basis: 30%;
  }
  
  .image img {
    width: 100%;
  }
  
  .caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
  }
  

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
  #intro, #equipo {
      width:90% !important;
      margin:auto;
  }

  #local {
      flex-wrap: wrap;
      padding-top:30px;
 }
 .wrapper-local {
  width:90%;
  margin:auto;
  padding-top:50px;    
 }

}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

  #intro, #equipo{
      width:90% !important;
      margin:auto;
  }

  
  #img-equipo{
      max-height:20rem !important;
      width:90%;
  }
  .wrapper-local {
      width:90%;
      margin:auto;
      padding-top:50px;    
  }
  #local {
      flex-wrap: wrap;
  }
  .mapa img {
      width:100%;
      height:auto;
  }
  #bg-contactos{
      top: -120px;
  }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
  #servicios-fila-2 {
      width:100% !important;
  }
  #servicios-fila-1 {
      width:100% !important;
  }

  .icono-wrap{
      flex-wrap:wrap !important;
      justify-content: center !important;
      text-align: center;
  }
}