header {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #a6e4b6a9;
}

th {
    background-color: #abe7b4e9;
}

td {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

td:hover {
    background-color: #80d17ce8;

}

