body {
    text-align: justify;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(fondo.jpg);
    background-size: 1800px;
    background-position: center;
    font-size: 16px;

}

header {
    display: flex;
    min-height: 70px;
    background: url(fondo-menu.jpg);
    background-size: 1800px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;

}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}


h2 {
    color: rgb(0, 0, 0);
}


/*
#imagen-fondo{
    
    background-image: ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-image: ;
    background-size: cover;
    
}
*/

img{
    width: 100px;
    height: 100px;
}


.logo {
    float: left;
    margin-right: 10px;
}

.logo img {
    width: 120px;
    height: 100px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: aliceblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
}

.breadcrumbs {
    color: #9f9ea0;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 15px;
}

.breadcrumbs .item {
    color: #9f9ea0;
    font-size: 12px;
}
header, footer {
    background-color: #2ecc71;
    color: #000000;
    padding: 25px;}

    .carousel {
        position: relative;
        width: 500px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
      }
      
      .carousel-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .carousel-item {
        flex-shrink: 0;
        width: 500px;
        height: 300px;
        margin-right: 20px;
      }
      
      .carousel-item:last-child {
        margin-right: 0;
      }
      
      .carousel-prev, .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 30px;
        color: #333;
        text-decoration: none;
      }
      
      .carousel-prev {
        left: 0;
      }
      
      .carousel-next {
        right: 0;
      }
      