{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" Página web para organizar y ayudar al cuidado de plantas">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">  
  <link rel="stylesheet" type="text/css" href="{% static 'appPK/css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <title>Plant Keeper</title>
  <link rel="icon" type="image/x-icon" href="{% static 'appPK/img/img icon.png' %}">
</head>

<body>
  <div class="container">
    <header>
      <div class="logo">
        <a href="index.html"><img src="{% static 'appPK/img/img icon.png' %}" alt="Logo"></a>
      </div>
      <nav>
        <ul>
        <a href="index.html">Plant Keeper</a>
        <a href="foro.html">Foro</a>
        <a href="{% url 'galeria' %}">Galería</a>
        <a href="biblioteca.html">Biblioteca de Plantas</a>
        <a href="contacto.html">Contacto</a>
        <li class="login-button"><a href="inisesion.html">Iniciar sesión</a></li>
      </ul>
      </nav>
    </header>
  </div>
  
  
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static 'images carousel/img1.jpg' %}" class="d-block w-100" alt="" height="300px">
      </div>
      
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'appPK/images carousel/img2.jpg' %}" class="d-block w-100" alt="..." height="300px">
      </div>
      
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'appPK/images carousel/img3.jpg' %}" class="d-block w-100" alt="..." height="300px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>    
  
  <section class="gallery">
    <div class="image">
        <a href="planta1.html">
            <img src="{% static 'appPK/img/monstera-variegada.jpg' %}" alt="Planta 1">
            <div class="caption">Monstera Variegada</div>
        </a>
    </div>
    <div class="image">
        <a href="planta2.html">
            <img src="{% static 'appPK/img/orquidea.jpeg' %}" alt="Planta 2">
            <div class="caption">Orquidea Mini</div>
        </a>
    </div>
    <div class="image">
        <a href="planta3.html">
            <img src="{% static 'appPK/img/philodendron-white-princess.jpg' %}" alt="Planta 3">
            <div class="caption">Filodendro Princesa Blanca</div>
        </a>
    </div>
  </section>
  
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 Plant Keeper. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
<!-- Popup HTML 
<div id="popup" class="popup-overlay">
  <div class="popup-content">
    <span class="popup-close" onclick="closePopup()">&times;</span>
    <h2>Iniciar sesión</h2>
    <form class="popup-form" action="#">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Iniciar sesión">
    </form>
    <div class="forgot-password">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
  
</div>

<script>
  function showPopup(event) {
    event.preventDefault();
    var popup = document.getElementById('popup');
    popup.style.display = 'block';
  }

  function closePopup() {
    // Obtener el elemento del popup por su ID y ocultarlo cambiando su estilo
    var popup = document.getElementById('popup');
    popup.style.display = 'none';
  }
</script>-->


</body>
</html>