{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ficha de Planta</title>
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'appPK/img/img icon.png' %}">
</head>
<body>
    <div class="container">
    <header>
        <div class="logo">
            <a href="index.html"><img src="{% static 'appPK/img/img icon.png' %}" alt="Logo"></a>
          </div>
        <h1>Ficha de Planta</h1>

    </header>
        <div class="breadcrumbs">
            <a href="index.html" class="item">Inicio</a> 
            >
            <a href="./galeria.html" class="item">Galeria</a> 
            >
            <a href="planta1.html" class="item"> Ficha de Planta</a>

        <main>
            <h1>Filodendro Princesa Blanca</h1>
            <center><img src="{%static 'img/philodendron-white-princess.jpg'%}" alt="Planta 1">
            <div class="image">
            <p> @yasupiste26</p>   
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod sapien vitae velit vestibulum, a convallis metus euismod. Nullam imperdiet libero vel velit convallis, quis aliquet lorem facilisis. Nulla ultrices massa id nisl malesuada aliquet. Etiam imperdiet euismod mi, ut lobortis ipsum pellentesque nec. Aliquam et sapien ut lorem ullamcorper ullamcorper at at risus. Aliquam nec velit lacinia, suscipit magna sed, ultrices lacus. Vestibulum vel orci nisi. Vestibulum laoreet, sapien a ullamcorper posuere, ipsum sapien posuere nulla, vel elementum odio elit id est. Nulla facilisi.</p>
            <p>Etiam cursus massa vitae magna fermentum, vel facilisis erat accumsan. Nullam porttitor tellus vel magna dictum, in laoreet lacus euismod. Donec at odio dolor. Nulla vel leo nec mauris tristique pharetra. Ut laoreet mauris vel enim fermentum, quis faucibus odio feugiat. Morbi ultricies congue consequat. Nullam fringilla lobortis velit ac aliquet. Integer nec facilisis dolor. Aliquam erat volutpat.</p>
            <p>Pellentesque blandit est in ex pellentesque, a finibus velit rutrum. Maecenas semper risus eu nisi molestie, ut vestibulum lectus malesuada. Pellentesque ac purus tellus. Duis bibendum enim eu felis suscipit consectetur. Praesent nec enim metus. Nunc eleifend semper orci, quis euismod justo vestibulum quis. Pellentesque sit amet sapien odio. Etiam eget est vitae est pretium sagittis nec vel enim.</p>
            <a href="galeria.html">Volver a la galería</a></center>
        </div> 
        </main>
        <footer>
            <p>Derechos Reservados &copy; 2023</p>
        </footer>
    </body>
    </html>