{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRADOR</title>
    <link rel="stylesheet" href="{% static 'css/adm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appPK/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div>
            <h1 class="titulo">ADMIN</h1>
        </div>
        <table> 
            <thead>
                <tr class="titulos">
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>    
                        <a href="nuevo_user.html" class="btn-1">+</a>
                    </th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{u.id_usuario}}</td>
                    <td>{{u.usuario}}</td>
                    <td>{{u.contraseña}}</td>
                    <td></td>
                    <td></td>
                    <td><a href="editar_user.html">Editar</a></td>
                    <td><a href="eliminar_user.html">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>