body {
    background-color: #F9F9F9;

  }

  header {
    color: #FFF;
    padding: 10px 20px;
  }

  header nav {
    display: flex;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    margin-left: 20px;
  }
  
  header nav a {
    color: #FFF;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Estilos para el contenido del foro */
  #forum {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%;
  }
  
  /* Estilos para la lista de publicaciones */
  #forum ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para las publicaciones individuales */
  .post {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .post h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .post p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .post .date {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
  }
  
  /* Estilos para el formulario de publicación */
  #new-post {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
  }
  
  #new-post h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  #new-post label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  #new-post input[type=text],
  #new-post textarea {
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  #new-post button[type=submit] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px
  }